@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.nav-item__wrapper {
  display: block;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.topnav {
  display: flex;

  font-family: Montserrat, sans-serif;
  background-color: white;
  overflow: hidden;
  padding: 0;
  margin: 0;

  letter-spacing: 4px;
  opacity: 0.9;
}

.nav-item {
  float: left;
  display: block;
  color: #7c00de;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  text-wrap: nowrap;

  &:active {
    @extend .nav-item__active;
  }

  a:hover {
    color: #4d0286;
    text-decoration: none;
  }
}

.nav-item__active {
  color: #4d0286;
  text-decoration: none;
}
.nav-collapse-button {
  display: none;
  align-self: center;
}

.ja-flag-container {
  display: flex;
  height: inherit;
}

.socials-container {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-right: 24px;
}
.social-logo {
  width: 20px;
}

@media screen and (max-width: 500px) {
  .topnav .nav-item__wrapper:not(:first-child) {
    display: none;
  }

  .nav-collapse-button {
    float: right;
    display: block;
    border: 1px solid #800080;
    background-color: #ffffff;
    margin-right: 24px;
    border-radius: 4px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript 
  when the user clicks on the collapse-icon. This class makes the topnav 
  look good on small screens (display the links vertically instead 
  of horizontally) */
@media screen and (max-width: 500px) {
  .topnav.responsive {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .topnav.responsive .nav-collapse-button {
    position: absolute;
    right: 0;
    top: 0;
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .nav-item__wrapper {
    display: block;
  }
}
